.frame-margins {
    margin: 0px 4px 0px 4px;
}

.frame-margins grid, .frame-margins scrolledwindow {
    margin: 8px 8px 12px 8px;
}

progressbar text {
    font-size: 12pt;
}

progressbar trough {
    min-height: 20px;
}
